/* Base styles */
.cards {
  padding: 2rem; /* Reduced padding for smaller screens */
}

.cards > h1 {
  font-size: 36px; /* Reduced font size for smaller screens */
  text-align: center;
  color: rgb(214, 214, 214);
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 20px 0 15px; /* Reduced margin for smaller screens */
}

.cards__items {
  margin-bottom: 16px; /* Reduced margin for smaller screens */
}

.cards__item {
  border: 1px solid wheat; /* Added units to border properties */
  display: flex;
  flex: 1;
  margin: 0 0.25rem; /* Reduced margin for smaller screens */
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.17);
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  margin: 0;
  position: relative;
  left: 0;
  width: 100%;
  padding-top: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 10px 15px 20px; /* Adjusted padding for smaller screens */
}

.cards__item__text {
  color: #c2c2c2;
  font-size: 16px; /* Reduced font size for smaller screens */
  line-height: 20px; /* Adjusted line height for smaller screens */
}

/* Media queries for responsiveness */

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
  .cards > h1 {
    font-size: 40px; /* Adjusted font size for larger screens */
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap to make items wrap on larger screens */
  }
  .cards > h1 {
    font-size: 40px; /* Adjusted font size for larger screens */
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 1rem; /* Further reduced margin for smaller screens */
  }
  .cards > h1 {
    font-size: 40px; /* Adjusted font size for larger screens */
  }
}
