/* Service.css */
.dendrogram-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.dendrogram-svg {
  max-width: 100%;
  max-height: 100%;
}
